.btn2::before{
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glow 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
@keyframes glow{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.btn2:active{
    color: #000;
}
.btn2:active:after{
    background: transparent;
}
.btn2:hover:before{
    opacity: 1;
}

.btn3{
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    color: #ffffff;
    background: #232323;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        #000000 50%
    );
    background-position: 25%;
    background-size: 400%;
    transition: background 500ms ease-in-out,
    color 500ms ease-in-out;
}
.btn3:hover{
    color: #ffffff;
    background-position: 100%;
}

.btn4{
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background: #000000;
    border-radius: 6px;
    background-image: linear-gradient(
        45deg,
        transparent 60%,
        #0d12ee 60%
    );
    background-position: 20% 100%;
    background-size: 400%;
    transition: background 500ms ease-in-out,
    color 500ms ease-in-out;
}
.btn4:hover{
    color: #ffffff;
    background-position: 90% 110%;
}